body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal {
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: white;
  z-index: 9999;
  transform: translateY(140vh);
  transition: all 250ms ease;
}

.modal-show {
  transform: translateY(0vh) !important;
  background-color: rgba(10, 10, 10, 0.726) !important;
}

#modal .container {
  background: #dfdfdf;
  width: 30%;
  margin-top: 75px;
  position: relative;
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 40px;
}

#modal .container a {
  position: absolute;
  top: 30px;
  color: gray;
  text-decoration: none;
  font-size: 32px;
  z-index: 9999;
  right: 30px;
  position: absolute;
  top: 10px;
  color: #666666;
  text-decoration: none;
  font-size: 32px;
  z-index: 9999;
  cursor: pointer;
}

.custom-button {
  width: 5vw;
  height: 40px;
  border-radius: 12px;
  padding: 0 12px;
  border: none;
  transition: all 0.2s;
  background-color: #ce2020ce; 
  color: #FFFFFF
}

.custom-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 2px rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.custom-button:focus {
  outline: none;
  background-color: #7e0000;  
}

.custom-button-edit {
  width: 5vw;
  height: 40px;
  border-radius: 12px;
  padding: 0 12px;
  border: none;
  transition: all 0.2s;
  background-color: #2e2ec7c7; 
  color: #FFFFFF
}

.custom-button-edit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 2px rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.custom-button-edit:focus {
  outline: none;
  background-color: #05037a;  
}

#modal-edit {
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: white;
  z-index: 9999;
  transform: translateY(140vh);
  transition: all 250ms ease;
}

.modal-show-edit {
  transform: translateY(0vh) !important;
  background-color: rgba(10, 10, 10, 0.726) !important;
}

#modal-edit .container {
  background: #dfdfdf;
  width: 30%;
  margin-top: 75px;
  position: relative;
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 40px;
}

#modal-edit .container a {
  position: absolute;
  top: 30px;
  color: gray;
  text-decoration: none;
  font-size: 32px;
  z-index: 9999;
  right: 30px;
  position: absolute;
  top: 10px;
  color: #666666;
  text-decoration: none;
  font-size: 32px;
  z-index: 9999;
  cursor: pointer;
}

.custom-button-add {
  width: 12vw;
  height: 40px;
  border-radius: 12px;
  padding: 0 12px;
  border: none;
  transition: all 0.2s;
  background-color: #00a740c7; 
  color: #FFFFFF
}

.custom-button-add:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 2px rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.custom-button-add:focus {
  outline: none;
  background-color: #1e5c01;  
}